anaconda-anon-usage 
annotated-types 
archspec 
boltons 
Brotli 
certifi 
cffi 
charset-normalizer 
conda 
conda-anaconda-telemetry 
conda-anaconda-tos 
conda-content-trust 
conda-libmamba-solver 
conda-package-handling 
conda_package_streaming 
cryptography 
distro 
frozendict 
idna 
jsonpatch 
jsonpointer==2.1
libmambapy 
markdown-it-py 
mdurl 
menuinst 
packaging 
platformdirs 
pluggy 
pycosat 
pycparser 
pydantic 
pydantic_core 
Pygments
PySocks 
requests 
rich 
ruamel.yaml 
ruamel.yaml.clib 
setuptools==78.1.1
tqdm 
truststore 
typing_extensions
urllib3 
wheel==0.45.1
zstandard