brotli 
click==8.2.1
contourpy 
cycler
filelock==3.18.0
fonttools 
fsspec==2025.5.1
iniconfig==2.1.0
Jinja2==3.1.6
kiwisolver 
loguru==0.7.3
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.0
mdurl==0.1.2
mpmath==1.3.0
networkx==3.5
numpy 
packaging 
pillow 
pluggy==1.6.0
Pygments==2.19.1
pyparsing 
pytest==8.3.5
python-dateutil 
rich==14.0.0
setuptools==72.1.0
shellingham==1.5.4
six 
sympy==1.14.0
torch==2.7.0
torchvision==0.22.0
tornado 
tqdm==4.67.1
typer==0.16.0
typing_extensions==4.13.2
wheel==0.45.1
